:root {
    --primary: rgb(192, 243, 186, 20);
}

.btn {
    margin: 650px 0 0 1200px;
    position: fixed;
    height: 60px;
    width: 100px;
    font-family: var(--font-body);
    font-size: 35px;
    border-radius: 50px;
    transition: all 0.3s ease-out;
}

.btn--primary {
    background-color: var(--primary);
    color: rgb(44,44,44);
}
.btn--outline { 
    background-color: transparent;
    color:  rgb(192, 243, 186, 20);
    border-color: rgb(192, 243, 186, 20);
}

.btn--medium { 
    padding: 8px 20px; 
    font-size: 25px; 
}

.btn--large { 
    padding: 12px 26px; 
    font-size: 35px; 
}

.btn--large:hover, .btn--medium:hover {
    background-color: white; 
    transition: all 0.3s ease-out;
}