.footer-wrapper {
    position: relative; 
    width: 100%;
    height: 600px;
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 0 100%);
}
.footer-container {
    position: fixed; 
    bottom: 0;
    height: 600px;
    width: 100%;
    background-color: rgb(56, 56, 67);
}
.footer-heading {
    display: flex; 
    flex-wrap: wrap; 
    font-family: -apple-system, system-ui, BlinkMacSystemFont;
    color: #fff;
}

.footer-box {
    margin: 5vh 0 0 3vw;
    width: 7.5%;
}
.socials {
    font-size: 14px; 
    text-transform: uppercase;
    font-weight: 500;
    color: #ccc
}
.footer-list {
    padding: 7.5px 0;
    display: flex;
    list-style: none;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}
.footer-links {
    padding: 5px 0;
    font-size: 14px;
}
.Message {
    font-size: 38px;
    font-family: 'Barlow';
    width: 40%;
}
.space {
    width: 100%;
    height: 150px;
}
.Follow-me {
    padding: 0 0 0 3vw;
    font-size: clamp(200px, 3vw, 40px);
    font-family: "Libre Bodoni";
    color: rgb(244, 244, 244);
}
