.about-wrapper {
    position: relative; 
    width: 100vw; 
    margin: 0 auto;
    overflow: hidden;
    z-index: 0;
    background-color: white;
}
.about-container{
    display: flex;
    width: 100%;
    margin: 10rem 0 0 0; 
    flex-wrap: wrap;
    flex-direction: column;
}
.biography-container {
    display: flex;
    flex-direction: row;
    width: 75%;
    margin: 10rem auto 0 auto;
    gap: 3rem;
}
.portrait {
    flex: 1;
    filter: grayscale(20%) drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.25));
    width: 35%; 
}
.biography-text-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.biography-text {
    font-family: var(--font-link);
    font-size: 20px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    text-transform: lowercase;
}
.techstack {
    width: 0%; 
    margin: 0 0 50rem 0; 
}