.hero-wrapper {
    position: relative;
    width: 100vw;
    margin: 0 auto; 
    overflow: hidden;
    z-index: 0; 
    background-color: #fff;
}
/*section for the background gradient*/
@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}
@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}
.gradient-bg {
  width: 100%;
  height: 100vh; 
  position: absolute;
  overflow: hidden;
  /*background: transparent;*/
  pointer-events: none;
  top: 0;
  left: 0;
  z-index: -1;
    svg {
      position: fixed;
      top:0;
      left:0;
      width: 0;
      height: 0;
    }
    .gradients-container {
      filter: url(#goo) blur(40px);
      position: relative;
      width: 100%;
      height: 100%;
      /*filter: blur(120px);*/
    }
  .g1 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    transform-origin: center center;
    animation: moveVertical 30s ease infinite;
    opacity: 1;
  }
  .g2 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;
    opacity: 1;
  }
  .g3 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);
    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;
    opacity: 1;
  }
  .g4 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;
    opacity: 0.7;
  }
  g5 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));
    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;
    opacity: 1;
  }
  .interactive {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;
    opacity: 0.7;
  }
}
/*section for the background gradient*/
.intro-container {
  width: 70%; 
  margin: 0 auto; 
  padding: 17rem 0 16rem 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: relative; 
}
.greeting-header {
  font-family: var(--font-pixel);
  text-transform: lowercase;
  font-size: calc(3vw + 2vh);
  font-weight: 100;
  line-height: 0.85;
}
#greeting-pixel {
  font-family: var(--font-pixel);
  font-size: calc(5vw + 2vh);
}
.typewriter-container {
  padding: 0;
  font-family: var(--font-body);
  font-weight: normal;
  color: black;
  font-size: calc(1vw + 1vh);
  width: fit-content;
  min-height: 2.5em;
  display: flex;
  align-items: center;
}
.typewriter-text {
  white-space: nowrap;
  border-right: 2px solid black;
  animation: blink 0.75s step-end infinite;
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.projects-container {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
  width: 100vw;
  padding: 0 0 200px 0;
  position: relative;
  z-index: 2; 
  opacity: 0;
  transform: translateY(100px);
}
.project-header {
  display: flex;
  width: 95%;
  /* Removed justify-content: space-between */
  padding: 25px 20px 10px 20px;
  color: black;
}
.projects-header {
  font-family: var(--font-link);
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}
.projects-header:nth-child(1) {
  flex: 2;
  text-align: left;
}
.projects-header:nth-child(2) {
  flex: 1;
  text-align: left;
}
.projects-header:nth-child(3) {
  flex: 1;
  text-align: right;
}