.hero-wrapper {
    position: relative;
    width: 100vw;
    margin: 0 auto;
    overflow-x: hidden;
    z-index: 0;
    background-color: transparent;
}
.intro-container {
  width: 50%;
  max-width: 900px;
  margin: 12rem auto 0 auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: relative;
}

.greeting-header {
  font-family: var(--font-mono);
  text-transform: uppercase;
  font-size: calc(3vw + 1.5vh);
  line-height: 1.8;
  font-weight: 400;
  text-align: left;
}

@media (max-width: 768px) {
  .intro-container {
    width: 90%;
    margin: 20rem auto;
  }
  .greeting-header {
    font-size: calc(5vw + 1vh);
  }
}