.music-wrapper {
    position: relative;
    width: 100vw;
    margin: 0 auto;
    overflow-x: hidden;
    z-index: 0;
    background-color: transparent;
}
.music-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
}
.music-logo {
    display: block;
    width: 25%;
    margin: 7rem auto;
}
@media (max-width: 768px) {
    .music-logo {
        width: 70%;
    }
}