.header-wrapper {
    width: 90%; 
    margin: 0 auto;
    padding: 0 0 50px;
}
.header-box {
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: column;
    align-items: flex-start;
}
.header-text {
    text-transform: uppercase; 
    font-size: 14px;
    font-family: 'JetBrains Mono', monospace; 
    font-weight: 500;
    color: black;
}