.navbar-wrapper {
    width: 100%;
    margin: 0 auto; 
    background-color: var(--color-bg1);
}

.nav-container { 
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
    display: flex; 
    justify-content: space-between;
    width: 50%;
    padding: 35px 0px 25px; /* Consistently apply padding everywhere */
    border-bottom: 1px solid var(--color-text);
}

/* .nav-logo {
    font-size: 24px;
    font-weight: bold;
    font-family: var(--font-link);
    text-decoration: none;
    color: var(--color-text);
    z-index: 101;
    font-weight: 600; 
} */

/* List of Links (Simple Flex) */
.nav-list {
    display: flex;
    align-items: center; /* this vertically aligns */
    list-style: none; /* No bullets */
    gap: 40px;
}

/* Individual Link Item Styles */
.nav-link {
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font-mono);
    color: var(--color-text);
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.08s, color 0.08s;
}

.nav-link:visited {
    color: var(--color-text);
}

.nav-link:not(.active):hover {
    background-color: var(--color-text);
    color: var(--color-bg1);
}

.nav-link.active {
    background-color: var(--color-text);
    color: var(--color-bg1);
}

/* Remove last item margin if we want perfect alignment,
   but usually margin-right everywhere is fine or we can do: */
.nav-item:last-child .nav-link {
    margin-right: 0;
}

.dark-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    line-height: 1;
}

.nav-icon-link {
    display: flex;
    align-items: center;
}

.nav-icon-link svg {
    display: block;
}

@media (max-width: 768px) {
    .nav-container {
        width: 90%;
        padding: 25px 0;
    }
    .nav-list {
        gap: 20px;
    }
}
