.project {
    display: flex;
    width: 95%;
    padding: 20px 0 40px 0;
    justify-content: space-between;
    /*border-top: 1px solid rgb(220, 220, 220);*/
    border-top: 1px solid black;
    cursor: pointer;
}
.project {
    font-size: 22px;
    font-family: system-ui;
    font-weight: 400;
}
.project:hover {
    opacity: 0.4;
}
.project:hover h2 {
    transform: translateX(10px);
}
.project:hover div {
    transform: translateX(-10px);
}