.footer-wrapper {
    margin-top: 20vh;
    position: relative; 
    width: 100%;
    border-width: 1.5px;
    border-style: solid;
    background-color: rgb(236, 236, 236);
}

.footer-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.social-container {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.footer-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding: 30px 0 30px 0;
    margin: 0;
    max-width: calc(3 * (100px + 20px));
}

.footer-links {
    font-family: var(--font-link);
    text-transform: uppercase;
    font-size: 18px;
}

.credit-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    padding: 30px 0 30px 0;
}

.copyright {
    font-family: var(--font-link);
    text-transform: uppercase;
    font-size: 18px;
}