.footer-wrapper {
    position: relative; 
    width: 100%;
    height: 600px;
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 0 100%);
}
.footer-container {
    margin: 0 auto;
    position: fixed; 
    bottom: 0;
    height: 600px;
    width: 100%;
    background-color: rgb(47, 47, 61);
}
.footer-heading {
    display: flex; 
    flex-wrap: wrap; 
    font-family: var(--font-link);
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.footer-box {
    margin: 5vh 0 0 3vw;
    width: 7.5%;
}
.socials {
    font-family: var(--font-link);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    color: #b0b0b0
}
.footer-list {
    padding: 10px 0 0 0;
    display: flex;
    list-style: none;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}
.footer-links {
    padding: 4px 0;
    font-size: 14px;
}
.space {
    width: 100%;
    height: 130px;
}
.lets-connect {
    padding: 1.5vw 0 0 3vw;
    font-size: clamp(180px, 3vw, 40px);
    font-family: var(--font-header);
    text-transform: lowercase;
    color: rgb(255, 255, 255);
    letter-spacing: 0px;
    font-weight: 100;
}
.cp-update {
    position: absolute;
    top: 5vh;
    right: 3vw;
    font-family: var(--font-link);
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(255,255,255,0.08);
    text-align: right;
}
.copyright {
    position: absolute;
    top: calc(5vh + 20px);
    right: 3vw;
    font-family: var(--font-link);
    font-size: 14px; 
    color: rgba(255,255,255,0.08); /* Very subtle, visually blending with bg */
    text-transform: uppercase;
    text-align: right;
}