
.preloader {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: black;
    overflow: hidden;
}
.texts-container {
    display: flex;
    opacity: 1;
    animation: fadeinout 3s forwards;
    font-family: var(--font-body);
    font-size: clamp(16px, 5vw, 32px);
    font-weight: 300;
    align-self: center;
    color: white;
}
@keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
  }
