.footer-wrapper {
    position: relative; 
    height: 650px; 
    max-width: 100%;
    clip-path: polygon(0% 0 , 100% 0%, 100% 100%, 0 100%); 
}

.footer-container {
    position: fixed; 
    height: 650px; 
    width: 100%;
    bottom: 0; 
    background-color: rgb(97, 93, 101); 
}
.footer-heading {
    display: flex; 
    flex-wrap: wrap; 
    font-family: -apple-system, system-ui, BlinkMacSystemFont;
    color: #fff;
    margin: 8.5vh 10vh 0 10vh;
  }

.footer-box {
    width: 12.5%;
}
.Socials {
    font-size: 18px; 
    text-transform: uppercase;
    font-weight: bold;
    color: #ccc
}
.footer-list {
    padding: 0.5rem 0;
    display: flex;
    list-style: none;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
}
.footer-links {
    padding: 3px 0;
    font-size: 14px;
}
.Message {
    font-size: 38px;
    font-family: 'Barlow';
    width: 40%;
}
.space {
    width: 10%;
}
.Follow-me {
    padding: 15rem 0;
    font-size: clamp(180px, 2vw, 40px);
    font-family: "Libre Bodoni"
}
