.header-wrapper {
    width: 90%; 
    margin: 0 auto;
}
.header-box {
    display: flex; 
    flex-wrap: flex; 
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 5rem; 
}
.header-text {
    text-transform: uppercase; 
    font-size: 16px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
}