.navbar {
    width: 95%;
    margin: 0 auto; 
}
.nav-container { 
    position: fixed;
    z-index: 1000;
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    gap: 22rem;
    padding: 1rem 0; 
    width: 95%;
}
.logo-container {
    object-fit: contain;
}
.logo {
    width: 130px;
    height: 75px;
    object-fit: contain;
}
.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}
.nav-element {
    margin: 0 65px 0 0; 
    display: block;
    color: rgb(44,44,44); 
    font-size: 18px;
    font-family: 'Barlow', Roboto, system-ui, BlinkMacSystemFont, "Segoe UI", Ubuntu;
    letter-spacing: 0.1rem;
}
.nav-links:link {
    transition: 0.5s 0.75s, 1s; 
}
.nav-links:visited { 
    color: rgb(44,44,44 ); 
}
.nav-links:not(.active):hover {
    background-color: rgb(44,44,44 ); 
    color: #fff; 
    text-decoration-color: rgb(44,44,44 ); 
}
.nav-links.active {
    background-color: rgb(44,44,44 ); 
    color: #fff;
    text-decoration: none;
    transition: 0.05s;
}
.nav-menu {
    display:none;
}
@media (max-width: 1200px) {
    .navbar ul { 
        display: none;
    }
    .nav-container {
        gap: 0; 
        justify-content: space-between;
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        gap: 0.40rem;
        width: 2.25rem;
        height: 2.25rem;
        margin: 1.3rem 0 0 0;
    }
    .nav-menu span {
        height: 0.15rem;
        width: 100%;
        background-color: rgb(44,44,44 );
        border-radius: 0.1rem;
        transition: all 0.3s ease;
    }
}
