.navbar {
    width: 95%;
    margin: 0 auto; 
}
.nav-container { 
    position: fixed;
    z-index: 1000;
    display: flex;
    gap: 18rem; 
    padding: 1rem 0; 
}
.logo-container {
    object-fit: contain;
}
.logo {
    width: 130px;
    height: 75px;
    object-fit: contain;
}
.nav-element {
    list-style: none;
    margin-right: 65px; 
    font-size: 18px;
    font-family: 'Barlow', Roboto, system-ui, BlinkMacSystemFont, "Segoe UI", Ubuntu;
    display: inline-block;
    letter-spacing: 0.1rem;
    color: rgb(44,44,44); 
}
.nav-links:link {
    transition: 0.5s 0.75s, 1s; 
}
.nav-links:visited { 
    color: rgb(44,44,44 ); 
}
.nav-links:hover {
    background-color: rgb(44,44,44 ); 
    color: #fff; 
    text-decoration-color: rgb(44,44,44 ); 
}
.nav-links.active {
    background-color: rgb(44,44,44 ); 
    color: #fff;
    transition: 0.15s;
}