.navbar {
    width: 95%;
    margin: 0 auto; 
}
.nav-container { 
    position: absolute;
    z-index: 1;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0; 
    width: 95%;
}
.logo-container {
    object-fit: contain;
}
.logo {
    width: 120px;
    height: 75px;
    object-fit: contain;
}
.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-links {
    margin: 0 45px 0 0; 
    display: block;
    font-size: 16px;
    font-family: 'Barlow', Roboto, system-ui, BlinkMacSystemFont, "Segoe UI", Ubuntu;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}
.nav-links:link, .nav-links:visited {
    color:black; 
}
/*.nav-links:not(.active):hover {
    background-color: black; 
    color: #fff; 
}*/
.nav-links.active {
    background-color: black; 
    color: #fff;
}
.nav-menu {
    display:none;
}
@media (max-width: 1200px) {
    .navbar ul { 
        display: none;
    }
    .nav-container {
        gap: 0; 
        justify-content: space-between;
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        gap: 0.40rem;
        width: 2.25rem;
        height: 2.25rem;
        margin: 1.3rem 0 0 0;
    }
    .nav-menu span {
        height: 0.15rem;
        width: 100%;
        background-color: black;
        border-radius: 0.1rem;
        transition: all 0.3s ease;
    }
}