* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #root {
  height: 100%;
}
:root {
  --color-bg1: rgb(255, 255, 255);
  --color-bg2: rgba(205, 205, 205, 0.842);
  --color1: 95, 188, 103;
  --color2: 82, 131, 255;
  --color3: 69, 180, 249;
  /*--color3: 140, 100, 255; purpleish color very nice */
  --color-interactive: 175, 255, 183;
  --circle-size: 80%;
  --blending: hard-light;
}
h2 {  
  font-family: 'monaco', Menlo;
  font-weight: normal;
  font-size: calc(2.75vw + 2.75vh);
  color: black;
}
p {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
  font-size: 22px;
  color: black;
}
a, a:hover, a:active, a:visited {
  text-decoration: none;
  color: white; 
}